<div *mobxAutorun>
  <h3>My Bank Balance Application</h3>

  <p></p>

  <form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="enter amount" type="number" [formControl]="amount">
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item *ngFor="let item of store.validationMessages">
        {{ item }}
      </mat-list-item>
    </mat-list>
  </form>

  <h3><label>Available Balance:</label> {{ store.balance }} </h3>

  <div class="button-group">
    <button mat-raised-button (click)="deposit()" [disabled]="!store.validAmount">
      Deposit
    </button>

    <button mat-raised-button (click)="withdraw()" [disabled]="!store.validAmount">
      Withdraw
    </button>
  </div>

  <mat-divider></mat-divider>
  <div>
    <mat-label>
      <h3>
        <span matBadge="{{store.transactions.length}}" matBadgeOverlap="false">
          Transactions
        </span>
      </h3></mat-label
    >
    <mat-list>
      <mat-list-item *ngFor="let item of store.transactions">
        <p>
          {{ item }}
          <mat-divider></mat-divider>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
